
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --Blue-User: hsl(246, 80%, 60%);
  --Light-Red-Work: hsl(15, 100%, 70%);
  --Soft-Blue-Play: hsl(195, 74%, 62%);
  --Light-Red-Study: hsl(348, 100%, 68%);
  --Lime-Green-Exercise: hsl(145, 58%, 55%);
  --Violet-Social: hsl(264, 64%, 52%);
  --Soft-Orange-Self-Care: hsl(43, 84%, 65%);
  --Very-Dark-Blue: hsl(226, 43%, 10%);
  --Dark-Blue: hsl(235, 46%, 20%);
  --Desaturated-Blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  padding: 0;
}

.rubik-code-300 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.rubik-code-400 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-code-500 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}